

# Mac file
.DS_Store

# Environment
.env

# Chromedriver. Should be compatiable with your chrome browser version.
chromedriver

# Code runner file[VsCode]
tempCodeRunnerFile.py

# Python cache files 
*/__pycache__
*/*/__pycache__
*/*/__pycache__